<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Gene id:</strong>
  <%= @gene_study.Gene_ID %>
</p>

<p>
  <strong>Study:</strong>
  <%= @gene_study.Study %>
</p>

<%= link_to 'Edit', edit_gene_study_path(@gene_study) %> |
<%= link_to 'Back', gene_studies_path %>

-->