
<!--

<p id="notice"><%= notice %></p>

<p>
  <strong>Plant id:</strong>
  <%= @genotyping_table.Plant_ID %>
</p>

<p>
  <strong>Gene id:</strong>
  <%= @genotyping_table.Gene_ID %>
</p>

<p>
  <strong>Sgrna id:</strong>
  <%= @genotyping_table.sgRNA_ID %>
</p>

<p>
  <strong>Genotyping image:</strong>
  <%= @genotyping_table.Genotyping_image %>
</p>

<p>
  <strong>Editing efficiency:</strong>
  <%= @genotyping_table.Editing_efficiency %>
</p>

<p>
  <strong>Disruption efficiency:</strong>
  <%= @genotyping_table.Disruption_efficiency %>
</p>

<%#= link_to 'Edit', edit_genotyping_table_path(@genotyping_table) %> |
<%= link_to 'Back', genotyping_tables_path %>

-->