<p id="notice"><%= notice %></p>

<h1>Vector Tables</h1>

<table>
  <thead>
    <tr>
      <th>Vector id</th>
      <th>Backbone</th>
      <th>Trna array</th>
      <th>U6 vector</th>
      <th>Short note</th>
      <th>Vector link</th>
      <th>Cloned</th>
      <th>Cloned by</th>
      <th>Box 1 ago eha105</th>
      <th>Transformed valencia</th>
      <th>Transformed carrizo</th>
      <th>Gfp positives</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vector_tables.each do |vector_table| %>
      <tr>
        <td><%= vector_table.Vector_ID %></td>
        <td><%= vector_table.Backbone %></td>
        <td><%= vector_table.tRNA_array %></td>
        <td><%= vector_table.U6_vector %></td>
        <td><%= vector_table.Short_note %></td>
        <td><%= vector_table.Vector_link %></td>
        <td><%= vector_table.Cloned %></td>
        <td><%= vector_table.Cloned_by %></td>
        <td><%= vector_table.Box_1_Ago_EHA105 %></td>
        <td><%= vector_table.Transformed_valencia %></td>
        <td><%= vector_table.Transformed_carrizo %></td>
        <td><%= vector_table.GFP_positives %></td>
        <td><%= link_to 'Show', vector_table %></td>
        <td><%= link_to 'Edit', edit_vector_table_path(vector_table) %></td>
        <td><%= link_to 'Destroy', vector_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vector Table', new_vector_table_path %>
