<p id="notice"><%= notice %></p>

<p>
  <strong>Vector id:</strong>
  <%= @vector_table.Vector_ID %>
</p>

<p>
  <strong>Backbone:</strong>
  <%= @vector_table.Backbone %>
</p>

<p>
  <strong>Trna array:</strong>
  <%= @vector_table.tRNA_array %>
</p>

<p>
  <strong>U6 vector:</strong>
  <%= @vector_table.U6_vector %>
</p>

<p>
  <strong>Short note:</strong>
  <%= @vector_table.Short_note %>
</p>

<p>
  <strong>Vector link:</strong>
  <%= @vector_table.Vector_link %>
</p>

<p>
  <strong>Cloned:</strong>
  <%= @vector_table.Cloned %>
</p>

<p>
  <strong>Cloned by:</strong>
  <%= @vector_table.Cloned_by %>
</p>

<p>
  <strong>Box 1 ago eha105:</strong>
  <%= @vector_table.Box_1_Ago_EHA105 %>
</p>

<p>
  <strong>Transformed valencia:</strong>
  <%= @vector_table.Transformed_valencia %>
</p>

<p>
  <strong>Transformed carrizo:</strong>
  <%= @vector_table.Transformed_carrizo %>
</p>

<p>
  <strong>Gfp positives:</strong>
  <%= @vector_table.GFP_positives %>
</p>

<%= link_to 'Edit', edit_vector_table_path(@vector_table) %> |
<%= link_to 'Back', vector_tables_path %>
