      <%# MAIN NAVBAR FOR INDEX PAGE %>
      
        <% if mobile_device != "mobile" %>
          <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
          <% elsif mobile_device == "mobile" %>
          <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme-mobile" style="background-color: rgba(11, 23, 39, 0.5);">
        <%end%>
        <div class="container"><%= link_to "CRISPR Citrus", root_path, class: "navbar-brand text-black" %>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse scrollbar perfect-scrollbar" id="navbarStandard">
            <ul class="navbar-nav">

            <%# PATHS %>
              <li class="nav-item"><a class="nav-link" href="<%= plant_plants_path %>"><span class="mr-2 fas fa-leaf" role="img" aria-label="leaf"></span>Plants</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= gene_genes_path %>"><span class="mr-2 fas fa-dna" role="img" aria-label="dna"></span>Genes</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= guide_guides_path %>"><span class="mr-2 fas fa-bullseye" role="img" aria-label="dna"></span>Guides</a></li>
            
            <%# Further Info %>
            <% if mobile_device != "mobile" %>
              <li class="nav-item"><a class="nav-link" href="#!">|</a></li>
              <% elsif mobile_device == "mobile" %>
            <%end%>
              <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdownInfo" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Further info</a>
                <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownInfo">
                  <div class="bg-black rounded-soft py-2">
                  <%= link_to "Citrus and HLB", info_index_path(info: "hlb"), class:"dropdown-item fs-0" %>
                  <%= link_to "Selection of Target Genes", info_index_path(info: "target-genes"), class:"dropdown-item fs-0" %>
                  <%= link_to "CRISPR/Cas9 Gene Editing", info_index_path(info: "gene-editing"), class:"dropdown-item fs-0" %>
                  <%= link_to "Vectors", info_index_path(info: "vectors"), class:"dropdown-item fs-0" %>
                  <%= link_to "Creation of transgenic plants", info_index_path(info: "transgenic-plants"), class:"dropdown-item fs-0" %>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdownSocietal" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Societal acceptance</a>
                <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownSocietal">
                  <div class="bg-black rounded-soft py-2">
                  <%= link_to "Societal Acceptance of Gene-Editing", societal_acceptance_index_path(info: "acceptance"), class:"dropdown-item fs-0" %>
                  </div>
                </div>
              </li>
              
            </ul>
            <%# CONTACT %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="btn btn-outline-light border-2x rounded-pill" href="<%= contact_form_path %>">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

