<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Sgrna id:</strong>
  <%= @guide_table.sgRNA_ID %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @guide_table.Sequence %>
</p>

<p>
  <strong>Orthologs targeted:</strong>
  <%= @guide_table.Orthologs_targeted %>
</p>

<%= link_to 'Edit', edit_guide_table_path(@guide_table) %> |
<%= link_to 'Back', guide_tables_path %>
-->