<p id="notice"><%= notice %></p>

<p>
  <strong>Vector id:</strong>
  <%= @u6_table.Vector_ID %>
</p>

<p>
  <strong>Sgrna id:</strong>
  <%= @u6_table.sgRNA_ID %>
</p>

<p>
  <strong>Position:</strong>
  <%= @u6_table.Position %>
</p>

<%= link_to 'Edit', edit_u6_table_path(@u6_table) %> |
<%= link_to 'Back', u6_tables_path %>
